.task{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 0.75rem;
	padding: 1rem;
	background-color: var(--gray-500);
	border: 1px solid var(--gray-400);
	margin-bottom: 0.75rem;
}

.task button{
	background-color: transparent;
	border: 0;
	transition: all .5s;
}

.task .checkbox svg{
	color: var(--blue);
	transition: all .5s;
	outline: transparent;
}

.task .checkbox svg:hover{
	color: var(--blue-dark);
}

.task .checkboxMarked svg{
	color: var(--purple-dark);
	transition: all .5s;
}

.task .checkboxMarked svg:hover{
	color: var(--purple);
}

.task .deleteTodo{
	color: var(--gray-300);
}

.task .deleteTodo:hover{
	color: var(--danger);
}

.todoDescription .done{
	text-decoration: line-through;
	color: var(--gray-300);
}